*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    
    max-width: 50%;
    align-content: center;
    margin: 50px 200px;
    border: 5px  solid;
    border-radius: 30px;
}

#title{
    text-align: center;
}

.details{
    background-color: azure;
}

.selection{
    background-color: aqua;
    margin: 20px 100px;

}

.dob{
    border: 5px solid blue;
    border-radius: 5px;
}

.required{
    
}

#required{
    text-align: center;
}

.sections{
    border:5px solid black;
    border-radius: 10px;
}

.required-items{
    border:5px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  
}

#submit{
    text-align: center;
}
.descr{
    border: 5px solid salmon;
    border-radius: 5px;
}
#descr{
    text-align: center;
}

.body-sections{
    display: flex;

    
}
.body-sections-items{
 
    
    

}

@media screen and (max-width: 575px) {
    #main {
      display: block;
    }
  }